*{
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "cmunss";
  src: url("../static/fonts/cmunss.ttf") format("truetype");
  color: #CEBEAC;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  background: #1E1E27;
}

h1{
  font-size: 25pt;
  font-weight: bold;
}

h2{
  font-size: 20pt;
  font-weight: 500;
}

h3 {
  font-size: 14pt;
  font-weight: normal;
}

p,li {
  font-size: 12pt;
  font-style: normal;
}

#navbar
{/* set navbar id */
  display: flex; /* enables flex context allow navbar to expand around all element inside navbar*/
  margin-bottom: 20px; /* give space outside navbar on bottom */
  margin-left: -40px; /* overwrite default body margin */
  margin-right: -40px; /* overwrite default body margin */
  background: #262626; /* set background color */
  /*border-bottom-left-radius: 25px; /* set border-bottom-left round */
  /*border-bottom-right-radius: 25px; /* set border-bottom-left round */
  /*box-shadow: 0px 10px 13px -7px #111111, 0px 10px 10px -3px rgba(17, 17, 17,0); /* set shadow compatibility #hexa, rgb */
  /*-ms-box-shadow: 0px 10px 13px -7px #111111, 0px 10px 10px -3px rgba(17, 17, 17,0); /* set shadow compatibility #hexa, rgb, microsoft */
  /*-webkit-box-shadow: 0px 10px 13px -7px #111111, 0px 10px 10px -3px rgba(17, 17, 17,0); /* set shadow compatibility #hexa, rgb, chrome */
  /*-moz-box-shadow: 0px 10px 13px -7px #111111, 0px 10px 10px -3px rgba(17, 17, 17,0); /* set shadow compatibility #hexa, rgb, mozilla */
}

.navbar-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.topnav {
  padding-top: 25px;
  padding-bottom: 10px;
  display: inline-block;
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 7px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  /* color: white; */
}
.topnav .icon {
  display: none;
}

#logoImg
{ /* set website logo id */
  background: url('/static/img/logo160x160px.png') no-repeat; /* set logo as background unique logo */
  float: left; /* position logoImg on the left in the container */
  width: 150px;/* set logo dimension */
  height: 104px;
  margin: 10px 0px 10px 0px;/* set margin around: top right bottom left */
}

.navbar-brand
{ /* set website brand name */
  display: inline-block; /* display in the text with space top and bottom */
  padding-top: 25px; /* set space around an element */
  padding-bottom: 10px;
}

.navbar-brand h1
{ /* replace h1 properties in navbar */
  font-size: 20pt;
  text-transform: uppercase;
  /* color: white */
}

.navbar-brand a, a:hover
{ /* remove text-decoration for nav-brand link a */
  text-decoration: none;
}


@media (max-width:1000px) {
  .navbar-brand h1 {
    font-size: 18px;
  }

}

@media screen and (max-width: 860px) {
  h1{
    font-size: 18pt;
  }

  h2{
    font-size: 16pt;
  }

  h3 {
    font-size: 13pt;
  }

  p,li {
    font-size: 11pt;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    right: 25px;
    top: 0px;
  }
  .topnav.responsive .icon {
    position: absolute;
    /* float: right; */
    right: -25px;
    top: 25px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  h1{
    font-size: 16pt;
  }

  h2{
    font-size: 14pt;
  }

  h3 {
    font-size: 12pt;
  }

  p,li {
    font-size: 11pt;
  }

  #logoImg{
    background-size: contain;
    width: 75px;/* set logo dimension */
    height: 54px;
    /* margin: 10px 0px 10px 0px;/* set margin around: top right bottom left */ */
  }
  .navbar-brand {
    padding-top: 15px; /* set space around an element */
  }
  .navbar-brand h1 {
    font-size: 16px;
  }
  .topnav {
    padding-top: 15px;
  }
  .topnav.responsive .icon {
    right: -25px;
    top: 15px;
  }
}

@media screen and (max-width:460px) {
  h1{
    font-size: 14pt;
  }

  h2{
    font-size: 13pt;
  }

  h3 {
    font-size: 10pt;
  }
  p,li {
    font-size: 9pt;
  }

  #logoImg{
    visibility: hidden;
    display: none;
  }
  .navbar-brand h1 {
    font-size: 14px;
  }
  .topnav a {
    font-size: 14px;
  }
}

@media screen and (max-width:400px) {
  h1{
    font-size: 12pt;
  }

  h2{
    font-size: 11pt;
  }

  h3 {
    font-size: 10pt;
  }
  p,li {
    font-size: 9pt;
  }
  .navbar-brand h1 {
    font-size: 12px;
  }
  .topnav a {
    font-size: 12px;
  }
}

@media (max-width:360px) {
  h1{
    font-size: 11pt;
  }

  h2{
    font-size: 10pt;
  }

  h3 {
    font-size: 9pt;
  }
  p,li {
    font-size: 8pt;
  }

  .navbar-brand h1 {
    font-size: 10px;
  }
  .topnav a {
    font-size: 10px;
  }
}
