{% extends "layout.html" %}

{% block body %}

<div class="card">
  <!-- <h2>TITLE HEADING</h2>
  <h5>Title description, Dec 7, 2017</h5>
  <div class="fakeimg" style="height:200px;">Image</div> -->
  <p>This site is design by Yann Scheiffer</p>
  <p>Front-end web site is developing with <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> (Flask is a lightweight WSGI web application framework.)</p>
  <p>This site is hosting and running with <a href="https://www.pythonanywhere.com/">PythonEverywhere</a> plateform.</p>
  <p>Special thanks to <a href="https://www.w3schools.com/">W3Schools.com</a> for the support and solutions to design the site.</p>
</div>

<!-- <div class="">
  <p>This site is design by Yann Scheiffer.</p>
  <p>Front-end web site is developing with Flask (Flask is a lightweight WSGI web application framework.)</p>
  <p>This site is hosting and running with PythonEverywhere plateform.</p>
</div> -->





{% endblock %}
