{% extends "layout.html" %}

{% block body %}

<i class="fa fa-envelope-o" aria-hidden="true">
  <address class="">
    yannscheiffer@live.com
  </address>
</i>

<!-- <div class="card">
    <img src="/static/img/avatar.jpg" alt="Avatar" style="width:100%" class="card-img">
    <div class="card-container">
        <h3>Yann <b>Scheiffer</b> </h3>
        <p>Architect & Engineer</p>
    </div>
</div>
<br> -->

<div class="card">
    <div class="flip-card" >
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/static/img/avatar.jpg" alt="Avatar" style="width:100%" class="card-img">
        </div>
        <div class="flip-card-back card-img">
            <h3>Yann <b>Scheiffer</b> </h3>
            <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <h3>Yann <b>Scheiffer</b> </h3>
      <p>Architect & Engineer</p>
    </div>
</div>
<br>

{% endblock %}
