<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NorthernOrca</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- <link rel="stylesheet" href="/static/css/card.css"/> PROBLEME INTERFERENCE AVEC .CARD -->
    <link rel="stylesheet" href="/static/css/slideshow.css"/>
    <link rel="stylesheet" href="/static/css/collapsiblebtn.css"/>
    <link rel="stylesheet" href="/static/css/contactus.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
  </head>
  <body>

    <div class="header">
      <h1>Northern Orca</h1>
      <p>Resize the browser window to see the effect.</p>
    </div>

    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
        <a href="/services">Services</a>
        <a href="/publications">Publications</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/acknowledgments">Acknowledgments</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    {% block body %}
    {% endblock %}

    <div class="footer">
      <h2>Footer</h2>
    </div>


    <script type="text/javascript" src="static/js/topnavbar.js"></script>
    <script type="text/javascript" src="static/js/slideshow.js"></script>
    <script type="text/javascript" src="static/js/flipcard.js"></script>
    <script type="text/javascript" src="static/js/collapsiblebtn.js"></script>

  </body>
</html>
